.*.swp

*.o

aclocal.m4
autom4te.cache/
config.h.in~
config.h.in

configure
config.log
config.status
config.guess
config.sub
config.h

hplay.c
Makefile.in
Makefile

compile
depcomp
install-sh
missing
stamp-h1

.deps/

Rsynth/librsynth.a
say
dlookup
mkdictdb
